ul {
    position: absolute;
    display: none;
    flex-direction: row; 
    top: 188px;
    margin-left: 29px;
}
li {
    padding: 10px;
    list-style-type: none;
}

.show-menu {
    display: flex;
}

.show-off {
    display: none;
}
